:root {
  --primary: #f5a623;
  --secondary: #4a90e2;
  --background: #ffffff;
  --highlight: #7f8c8d; /* Para textos y detalles. */
  --action: #e74c3c; /* Para botones y alertas. */
  --fuentePrincipal: "Staatliches", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Globales*/

body {
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: var(--fuentePrincipal);
  color: (var(--blanco));
  text-align: center;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/*header*/

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}

.main {
  width: 700px;
  align-items: center;
  margin: auto;
}

.navbar {
  background-color: var(--secondary);

  display: flex;
  justify-content: center;
  gap: 10rem;
}

.navbar__url {
  font-size: 3rem;
  font-family: var(--fuentePrincipal);

  color: var(--action);
}

.dataContainer {
  width: auto;
  height: auto;
  background-color: var(--action);
}

.footer {
  background-color: var(--primary);

  height: 20px;
}
.footer__text {
  text-align: center;
}

.gato-item{
  color: black;
}