<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navbar</title>
  <link rel="stylesheet" href="Css/styles.css" />
 <!--  <link rel="stylesheet" href="Css/navbar_styles.css" /> -->
</head>

<body>
  <nav class="navbar">

    <a href="index.html" class="logo">Adopta Gatitos</a>

    <div class="navbar__links">
      <a class="navbar__url" href="index.html">Inicio</a>
      <a class="navbar__url" href="">Nosotros</a>
      <a class="navbar__url" href="adoptar.html">Adoptar</a>
      <!-- <a class="navbar__url" href="">Contacto</a> -->
      <!-- <a class="navbar__url" href="registrar_gato.html">Registrar gato</a> -->
   <!--    <a class="navbar__url" href="">Iniciar Sesion</a> -->
      <a class="navbar__url" href="registrar_cuenta.html">Registrar cuenta</a>
    </div>
  </nav>
</body>

</html>